
.instaSwiper {

  &_Slide {
    border-radius: 12px;
    overflow: hidden;
  }

  &_wrapperImg {
    height: 600px;
    transition: all 0.3s ease-in-out;

    @media (max-width: 500px) {
      height: 250px;
    }

    &:hover {
      scale: 1.1;
    }

    &_img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}